<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>User chat</title>
    <script src="/js/navBar.js"></script>
    <link rel="stylesheet" th:href="@{/css/chatIndex.css}" />
    <script src="/js/cookie.js"></script>

    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

</head>
<body th:background="@{/img/background.jpg}"
      style="background-position: center; background-repeat: no-repeat; background-size: cover;">

<nav class="navbar navbar-expand-lg bg-body-tertiary " data-bs-theme="dark">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

            <div class="navbar-nav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/" id="home">Home</a>
                    </li>

                    <!-- Conditionally show links if user is not logged-in -->
                    <li class="nav-item">
                        <a class="nav-link" href="/registration" id="signupLink">Sign-up</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" href="/login" id="loginLink">Login</a>
                    </li>

                    <!-- Conditionally show links if user is logged-in -->
                    <li class="nav-item">
                        <a class="nav-link" href="/chat/page" id="chatLink">Chat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/carinsert/selection" id="carInsertion">Insert</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/searchbar" id="search" style="display: none">Search</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/auction" id="auction" style="display: none">Auctions</a>
                    </li>
                </ul>
            </div>

        </div>



        <!-- User account and notification menu dropdown -->
        <div class="navbar-collapse justify-content-end" id="navbarNavDarkDropdown">

            <ul class="navbar-nav d-flex flex-row me-1">

                <!-- Notification dropdown menu -->
                <li id="notificationDropdown" class="nav-item me-3 me-lg-0 dropdown" style="display: block">
                    <a id ="bellLink" class="me-3 btn btn-dark rounded-4" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-bell"></i>
                        <span id="notificationBell" class="badge rounded-pill badge-notification bg-danger" style="display: compact"></span>
                    </a>

                    <ul id="NotificationList" class="dropdown-menu dropdown-menu-lg-end dropdown-menu-dark hidden-arrow animate slideIn">
                        <!-- Add dynamic content for notifications -->

                    </ul>
                </li>
            </ul>


            <ul class="navbar-nav">

                <li id="userDropDown" class="nav-item dropdown" style="display: block">
                    <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <span style="color: #ff9900;" id="usernameDisplay">User</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-lg-end dropdown-menu-dark animate slideIn">

                        <li><a class="dropdown-item" href="/userSettings">User settings</a></li>

                        <li><a class="dropdown-item" href="/login?loggedOut=true">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</nav>

<noscript>
    <h2>Ops! It seems that this browser does not support JavaScript</h2>
</noscript>

<div class="hidden" id="sender" th:text="${sender}"></div>
<div class="hidden" id="receiver" th:text="${receiver}"></div>


<div id="chat-page" >
    <div class="chat-container">
        <div class="chat-header">
            <h2>ChatBox</h2>
        </div>
        <div class="connecting">Connected to chat...</div>
        <ul id="messageArea">

        </ul>
        <form id="messageForm" name="messageForm" nameForm="messageForm">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" id="message" placeholder="Type a message..."
                           autocomplete="off" class="form-control" />
                    <button type="submit" class="primary">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script
        th:src="@{https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js}"></script>
<script
        th:src="@{https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js}"></script>
<script src="/js/Chat/chatIndex.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
</body>
</html>