<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="">
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link style="style.css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <title>Map search</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <script src="/js/cookie.js"></script>
    <script src="/js/navBar.js"></script>

    <style>
        #successSubZone {
            transition: opacity 0.5s ease-in-out;
        }
    </style>
</head>
<body>

<header class="mb-3" style="padding-bottom: 10px">
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" data-bs-theme="dark">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

                <div class="navbar-nav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/" id="home">Home</a>
                        </li>

                        <!-- Conditionally show links if user is not logged-in -->
                        <li class="nav-item">
                            <a class="nav-link" href="/registration" id="signupLink">Sign-up</a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link" href="/login" id="loginLink">Login</a>
                        </li>

                        <!-- Conditionally show links if user is logged-in -->
                        <li class="nav-item">
                            <a class="nav-link" href="/chat/page" id="chatLink">Chat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/carinsert/selection" id="carInsertion">Insert</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/searchbar" id="search" style="display: none">Search</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/auction" id="auction" style="display: none">Auctions</a>
                        </li>
                    </ul>
                </div>

            </div>



            <!-- User account and notification menu dropdown -->
            <div class="navbar-collapse justify-content-end" id="navbarNavDarkDropdown">

                <ul class="navbar-nav d-flex flex-row me-1">

                    <!-- Notification dropdown menu -->
                    <li id="notificationDropdown" class="nav-item me-3 me-lg-0 dropdown" style="display: block">
                        <a id ="bellLink" class="me-3 btn btn-dark rounded-4" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-bell"></i>
                            <span id="notificationBell" class="badge rounded-pill badge-notification bg-danger" style="display: compact"></span>
                        </a>

                        <ul id="NotificationList" class="dropdown-menu dropdown-menu-lg-end dropdown-menu-dark hidden-arrow animate slideIn">
                            <!-- Add dynamic content for notifications -->

                        </ul>
                    </li>
                </ul>


                <ul class="navbar-nav">

                    <li id="userDropDown" class="nav-item dropdown" style="display: block">
                        <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <span style="color: #ff9900;" id="usernameDisplay">User</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-lg-end dropdown-menu-dark animate slideIn">
                            <!-- TODO link to user settings -->
                            <li><a class="dropdown-item" href="/userSettings">User settings</a></li>

                            <li><a class="dropdown-item" href="/login?loggedOut=true">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

</header>

<main style="padding-top: 40px">

    <div id="map" class="mt-3" style="height: 600px; padding-top: 50px"></div>
    <section class="py-4 text-center container">

        <div class="row py-md-4">
            <div class="col-lg-6 col-md-8 mx-auto">
                <p class="display-3 fw-light">Map</p>
                <p class="lead text-body-secondary">Start by entering a location (i.e. Rome) and radius (1000 m). Then you can subscribe to receive notification of newly inserted car.</p>
            </div>
        </div>



        <div class="container p-2 bg-body-tertiary" style="width: 100%">

            <div class="container" style="display: flex; margin:0 auto; justify-content: center; align-items: center">
                <!--Success message on subscription to zone-->
                <div id="successSubZone" class="alert alert-success mt-3 rounded-pill p-3" style="display: none; width: 200px">
                    Done!
                </div>

                <!--Error message on subscription to zone-->
                <div id="errorSubZone" class="alert alert-danger mt-3 rounded-pill p-3" style="display:none; width: 200px">

                </div>

            </div>


            <form action="http://localhost:8081/search" method="get" style="width: 500px; margin: 0 auto;" class="text-center">
                <div class="input-group" style="width: 100%;">
                    <input type="text" class="form-control mt-sm-3 w-50" name="query" id="query" placeholder="Type the area center" required>
                    <input type="number" class="form-control mt-sm-3 w-50" name="radius" id="radius" placeholder="Type the area radius (m)" required>
                </div>
                <input type="hidden" name="token" id="token" placeholder="Type the area radius" required>
                <input type="submit" class="btn btn-primary mt-sm-3 form-control w-75" value="Search for this area">
            </form>



            <form id="subsForm" style="width: 500px; margin: 0 auto; ">
                <input  type="hidden" class="form-control" name="radius" id="radius2" required >
                <input  type="hidden" id="center" required>
                <input  type="hidden"  id="username" required>
                <button type="submit" class="btn btn-secondary mt-sm-3 form-control w-75">
                    Subscribe for this area <i class="bi bi-bell"></i>
                </button>
            </form>
        </div>

    </section>
</main>

<script th:inline="javascript">
    /*<![CDATA[*/

    let loc = /*[[${loc}]]*/ 'default value';
    let radius = /*[[${radius}]]*/ 'default value';
    let locationName = /*[[${locationName}]]*/ 'default value';

    if(loc != null){
        var center = [JSON.parse(loc)];
        console.log(center)
    }

    var popup = L.popup();
    var username = sessionStorage.getItem("username");
    var token = getCookie("jwtToken");
    document.getElementById('token').innerHTML = token;

    document.getElementById('subsForm').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent the default form submission

        // Here you can add logic for form submission and checking if something went wrong
        submitFormInSequence();

    });

    document.getElementById(
        'username').innerHTML = sessionStorage.getItem("username");
    document.getElementById(
        'radius2').innerHTML = document.getElementById(
        'radius').innerHTML;
    document.getElementById(
        'center').innerHTML =loc;

    // set default location to Milan
    // this is done before the search
    var map = L.map('map').setView([45.4641943,9.1896346], 13);

    function onMapClick(e) {
        alert("You clicked the map at " + e.latlng);
        popup
            .setLatLng(e.latlng)
            .setContent(e.latlng)
            .openOn(map);
    }

    async function submitFormInSequence() {
        const token = getCookie( "jwtToken" );

        // Create a new XMLHttpRequest object
        const xhr = new XMLHttpRequest();

        console.log("LOCATION NAME",locationName);

        // Specify the request type (GET or POST), URL, and whether it should be asynchronous
        xhr.open("GET", "http://localhost:8080/area/subscribe?center="+JSON.parse(loc)["lat"].toString()+"/"+JSON.parse(loc)["lon"].toString()+"&radius=" + radius + "&locationName=" + locationName, true);

        xhr.setRequestHeader('Authorization', 'Bearer ' + token)

        // Set up a callback function to handle the response
        xhr.onreadystatechange = function () {
            // Check if the request is complete (readyState 4) and if the status is OK (status 200)
            if (xhr.status === 200) {

                const successMessage = document.getElementById('successSubZone');

                // Show the success message
                successMessage.style.display = 'block';

                setTimeout(function () {
                    // Fade out the element by changing its opacity
                    successMessage.style.opacity = '0';

                    // After the transition duration, set display to 'none'
                    setTimeout(function () {
                        successMessage.style.display = 'none';
                    }, 500); // 0.5s is the duration of the transition
                }, 10000);

                console.log("Response:", xhr.responseText);
            } else {
                const errorMessage = document.getElementById('errorSubZone');
                errorMessage.value = "Something went wrong, retry later!"
                errorMessage.style.display = 'block';


                setTimeout(function () {
                    errorMessage.style.display = 'none';
                }, 10000);
            }
        };

        // Send the JSON data as the request payload
        xhr.send();
    }

    map.on('click', onMapClick);

    const form = document.getElementById("subsForm");
    form.addEventListener("submit", (event) => {
        event.preventDefault();
    });
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
    }).addTo(map);

    var locations = /*[[${locations}]]*/ 'default value';

    if(center != null) {
        map.setView([JSON.parse(loc)['lat'], JSON.parse(loc)['lon']], 13);
        center[0]["lng"]=center[0]["lon"];
        console.log(center);
        center.forEach(function(cord) {
            var circle = L.circle(cord, {
                color: 'red',
                fillColor: '#f03',
                fillOpacity: 0.5,
                radius: radius
            }).addTo(map);
        });
    }

    if(locations != null){
        locations.forEach(function(l) {
            const div = document.createElement("div");
            const button = document.createElement("button");
            button.className = "btn btn-outline-secondary btn-lg px-4 rounded-pill"
            button.innerHTML = l.name.toString();
            button.customField = l.cid.toString();
            button.addEventListener('click', function changePage(event) {
                window.location.href = "http://localhost:8081/carsearch/" + event.currentTarget.customField;
            }, false);
            div.appendChild(button);
            L.marker([l.lat, l.lon])
                .addTo(map)
                .bindPopup(div)
                .openPopup();
        });
    }
    /*]]>*/
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</body>
</html>