<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap importing -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">

    <!-- custom css importing-->
    <link rel="stylesheet" type="text/css" href="../../../static/css/style.css" th:href="@{/css/style.css}">

    <title>Utilities Information Form</title>
    <script src="js/utilitiesForm.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary " data-bs-theme="dark">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="../index.html">Home</a>
                <a class="nav-link" href="../UserSettings/registration.html" th:href="@{/registration}">Sign-up</a>
                <a class="nav-link" href="../UserSettings/login.html" th:href="@{/login}">Login</a>
                <a class="nav-link" href="../CarSearch/form.html" th:href="@{/searchbar}">Search</a>
                <a class="nav-link" href="../CarInsertion/offerForm.html" th:href="@{/insertoffer}">Insert</a>
            </div>

        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 mx-auto">

            <h1>Utilities Insertion Form</h1>

            <form id="myForm" onsubmit="event.preventDefault(); submitForm();" class="mt-2">
                <div class="form-group mt-2">
                    <label class="form-check-label" for="android" >Android Auto</label>
                    <input class="form-check-input" type="radio" id="android" name="assistant" value="Android" autofocus="autofocus"/>

                    <label class="form-check-label" for="apple">AppleCarPlay</label>
                    <input class="form-check-input" type="radio" id="apple" name="assistant" value="Apple" autofocus="autofocus"/>
                </div>

                <div class="form-group mt-2">
                    <label class="form-check-label" for="startAndStop">Start and Stop:</label>
                    <input class="form-check-input" type="checkbox" id="startAndStop" name="startAndStop" autofocus="autofocus"/>
                </div>

                <div class="form-group mt-2">
                    <label class="form-check-label" for="navigationsystem">Navigation System:</label>
                    <input class="form-check-input" type="checkbox" id="navigationsystem" name="navigationsystem" autofocus="autofocus"/>
                </div>

                <div class="form-group mt-2">
                    <label class="form-check-label" for="parkingassistant">Parking Assistant:</label>
                    <input class="form-check-input" type="checkbox" id="parkingassistant" name="parkingassistant" autofocus="autofocus"/>
                </div>

                <div class="form-group mt-2">
                    <label class="form-check-label" for="usb">Usb:</label>
                    <input class="form-check-input" type="checkbox" id="usb" name="usb" autofocus="autofocus"/>
                </div>

                <div class="form-group mt-2">
                    <label class="form-check-label" for="cruisecontrol">Cruise Control:</label>
                    <input class="form-check-input" type="checkbox" id="cruisecontrol" name="cruisecontrol" autofocus="autofocus"/>
                </div>

                <div class="form-group mt-2">
                    <label class="form-check-label" for="parkingcamera">Parking Camera:</label>
                    <input class="form-check-input" type="checkbox" id="parkingcamera" name="parkingcamera" autofocus="autofocus"/>
                </div>

                <div class="form-group mt-2">
                    <label class="form-check-label" for="surroundaudio">Surround Audio:</label>
                    <input class="form-check-input" type="checkbox" id="surroundaudio" name="surroundaudio" autofocus="autofocus"/>
                </div>

                <div class="form-group mt-2">
                    <label class="form-check-label" for="bluetooth">Bluetooth:</label>
                    <input class="form-check-input" type="checkbox" id="bluetooth" name="bluetooth" autofocus="autofocus"/>
                </div>

                <div class="form-group mt-2">
                    <label class="form-check-label" for="radio">Radio AFMF:</label>
                    <input class="form-check-input" type="checkbox" id="radio" name="radioAMFM" autofocus="autofocus"/>
                </div>

                <div class="form-group mt-2">
                    <label class="form-check-label" for="display">Display:</label>
                    <input class="form-check-input" type="checkbox" id="display" name="display" autofocus="autofocus"/>
                </div>

                <div class="form-group mt-2">
                    <label class="form-check-label" for="ac">Air Conditioning:</label>
                    <input class="form-check-input" type="checkbox" id="ac" name="ac" autofocus="autofocus"/>
                </div>

                <div class="form-group mt-2">
                    <label class="form-check-label" for="cd">CD Player:</label>
                    <input class="form-check-input" type="checkbox" id="cd" name="cd" autofocus="autofocus"/>
                </div>

                <div class="form-group mt-2">
                    <label class="control-label" for="desc">Description:</label>
                    <input class="form-control" type="text" id="desc" name="desc" autofocus="autofocus"/>
                </div>

                <div class="form-group mt-2">
                    <button type="submit" class="btn btn-success">Submit All</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

</body>
</html>
