<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Information Form</title>
    <style>
        body {
          font-family: Arial, sans-serif;
          margin: 40px;
          padding: 0px;
        }

        form {
          max-width: 400px;
          margin: 0 auto;
        }

        label {
          display: block;
          margin-bottom: 8px;
        }

        input {
          width: 100%;
          padding: 8px;
          margin-bottom: 16px;
          box-sizing: border-box;
        }

        button {
          background-color: #4CAF50;
          color: white;
          padding: 10px 15px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }

        button:hover {
          background-color: #45a049;
        }


        section {
            padding: 0px;
            margin-bottom: 40px;
        }

        #section1 {
            background-color: #008B8B;
            padding: 30px;
            margin-top: 20px;
            margin-right: 300px;
            margin-bottom: 0px;
            margin-left: -400px;
        }

        #section2 {
            background-color: #008B8B;
            padding: 30px;
            margin-top: -780px;
            margin-right: -300px;
            margin-bottom: 0px;
            margin-left: 300px;
        }

    </style>
    <script>
        function submitForm() {
            // Replace these URLs with the ones you want to use
            var postUrl = "/insert/car";
            var successUrl = "/insert/optional";
            var problemUrl = "YOUR_PROBLEM_URL";

            // Get form data
            var email = document.getElementById("email").value;//TODO ADD IN URL
            var maker = document.getElementById("make").value;
            var model = document.getElementById("model").value;
            var year = document.getElementById("year").value;
            var color = document.getElementById("color").value;
            var air = document.getElementById("airconditioning").value;
            var b = document.getElementById("bluetooth").value;
            var cd = document.getElementById("CDPlayer").value;
            var r = document.getElementById("Radio").value;
            var pl = document.getElementById("PollutionLevel").value;
            var fuel = document.getElementById("Fuel").value;
            var brand = document.getElementById("Brand").value;
            var pass = document.getElementById("Passenger").value;
            var size = document.getElementById("Size").value;
            var carD = document.getElementById("CarDoors").value;
            var tra = document.getElementById("Transmission").value;
            var engine = document.getElementById("Engine").value;
            var from = document.getElementById("from").value;
            var to = document.getElementById("to").value;
            var price = document.getElementById("price").value;

            const params={
                            email: formData,
                            maker: maker,
                            model: model,
                            year: year,
                            color: color,
                            air: air,
                            b: b,
                            cd: cd,
                            r: r,
                            pl: pl,
                            fuel: fuel,
                            brand: brand,
                            pass: pass,
                            size: size,
                            carD: carD,
                            tra: tra,
                            engine: engine,
                            from: from,
                            to: to,
                            price: price
                            };

            // Create a new XMLHttpRequest object
            var xhr = new XMLHttpRequest();

            // Set up the request
            xhr.open("POST", postUrl, true);

            xhr.setRequestHeader('Content-type', 'application/json')
            //xhr.setRequestHeader('Access-Control-Allow-Origin',"*")

            // Define what happens on successful data submission
            xhr.onload = function () {
                if (200 === 200) {
                    // Redirect to the success page
                    window.location.href = successUrl;
                }else{
                    window.location.href= problemUrl;
                }
            };

            // Send the form data
            xhr.send(JSON.stringify(params)); // Make sure to stringify
        }
    </script>
</head>
<body>

<h2>Car Insertion Form</h2>

<form id="myForm" onsubmit="event.preventDefault(); submitForm();">

    <section id="section1">
    <label for="make">Maker:</label>
    <input type="text" id="make" name="make" field="*{make}" required>
    <br>

    <label for="model">Model:</label>
    <input type="text" id="model" name="model" field="*{model}" required>
    <br>

    <label for="year">Year:</label>
    <input type="number" id="year" name="year" field="*{year}" required>
    <br>

    <label for="color">Color:</label>
    <input type="text" id="color" name="color" field="*{color}" required>
    <br>

    <label for="airconditioning"> Air Conditioning:</label>
    <input type="checkbox" id="airconditioning" name="airconditioning" field = "*{airConditioning}">
    <br>

    <label for="bluetooth">Bluetooth:</label>
    <input type="checkbox" id="bluetooth" name="bluetooth" field="*{bluetooth}">
    <br>

    <label for="CDPlayer">CDPlayer:</label>
    <input type="checkbox" id="CDPlayer" name="CDPlayer" field="*{CDPlayer}">
    <br>

    <label for="Radio">Radio:</label>
    <input type="checkbox" id="Radio" name="Radio" field="*{Radio}">
    <br>

    <section>
    <label for="PollutionLevel">Pollution Level:</label>
    <select id="PollutionLevel" name="PollutionLevel" required>
        <option value="EURO2">EURO2</option>
        <option value="EURO3">EURO3</option>
        <option value="EURO4">EURO4</option>
        <option value="EURO5">EURO5</option>
        <option value="EURO6">EURO6</option>
    </select>
    <br>
    </section>

    <section>
    <label for="Fuel">Fuel:</label>
    <select id="Fuel" name="Fuel" required>
        <option value="Gas">Gas</option>
        <option value="Methane">Methane</option>
        <option value="Diesel">Diesel</option>
        <option value="GPL">GPL</option>
        <option value="Electric">Electric</option>
    </select>
    <br>

    </section>

    </section>

    <section id="section2">
    <label for="Brand">Brand:</label>
    <input type="text" id="Brand" name="Brand" field="*{Brand}" required>
    <br>

    <label for="Passenger">Passenger:</label>
    <input type="number" id="Passenger" name="Passenger" field="*{Passenger}" required>
    <br>

    <section>
    <label for="Size">Size:</label>
    <select id="Size" name="Size" required>
        <option value="Small">Small</option>
        <option value="Medium">Medium</option>
        <option value="Big">Big</option>
    </select>
    <br>
    </section>

    <label for="CarDoors">Car Doors:</label>
    <input type="number" id="CarDoors" name="CarDoors" field="*{CarDoors}" required>
    <br>

    <section>
    <label for="Transmission">Transmission:</label>
    <select id="Transmission" name="Transmission" required>
        <option value="Automatic">Automatic</option>
        <option value="Manual">Manual</option>
        <option value="Sequential">Sequential</option>
        <option value="SequentialAndAutomatic">Sequential and Automatic</option>
    </select>
    </section>

    <section>
    <label for="Engine">Engine:</label>
    <select id="Engine" name="Engine" required>
        <option value="Gas">Gas</option>
        <option value="Electric">Electric</option>
        <option value="Diesel">Diesel</option>
        <option value="Hybrid">Hybrid</option>
    </select>
    </section>

    <label for="from">From:</label>
    <input type="date" id="from" name="from" field="*{from}" required>
    <br>

    <label for="to">To:</label>
    <input type="date" id="to" name="to" field="*{to}" required>
    <br>

    <label for="price">Price Per Day (€):</label>
    <input type="text" id="price" name="price" placeholder="Enter amount in euros" required>
    <br>

        <button type="submit">NextPage</button>
    <section>

    </section>
    </section>


</form>

</body>
</html>
