<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link style="style.css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <!-- Option 1: Include in HTML -->
    <!-- import icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!-- custom css importing-->
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <title>Car Insertion</title>

    <script src="/js/navBar.js"></script>
    <script src="/js/cookie.js"></script>
    <script src="/js/CarInsertion/carForm.js"></script>


    <style>
        .scrollable-list {
            max-height: 700px;
            overflow-y: auto;
        }


        .checkbox-container .form-group {
            display: flex;
            align-items: center; /* Align items vertically in the center */
            margin-right: 10px; /* Adjust margin between checkboxes */
            margin-bottom: 10px; /* Adjust margin between rows */
        }

        .checkbox-container .form-group input {
            display: none; /* Hide the actual checkbox */
        }

        .checkbox-container .form-group label {
            margin-right: 5px; /* Adjust margin between pseudo-label and checkbox */
            padding: 8px 12px; /* Adjust padding for visual appearance */
            border-radius: 5px; /* Add rounded corners */
            cursor: pointer; /* Add cursor pointer on hover for better UX */
            border: 1px solid #ccc; /* Add border for better visibility */
            transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions for background color and text color */
        }

        .checkbox-container .form-group input:checked + label {
            background-color: #565656; /* Darker green color when checked */
            color: #ffffff; /* White text color on top of the dark green background */
        }

        .checkbox-container .form-group label:hover {
            background-color: #757575; /* Light green color on hover */
            color: #ffffff; /* Change text color to white on hover */
        }

        .group {
            border: 6px solid transparent; /* Ensure the border is solid */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow effect */
        }


    </style>

</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary " data-bs-theme="dark">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

            <div class="navbar-nav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/" id="home">Home</a>
                    </li>

                    <!-- Conditionally show links if user is not logged-in -->
                    <li class="nav-item">
                        <a class="nav-link" href="/registration" id="signupLink">Sign-up</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" href="/login" id="loginLink">Login</a>
                    </li>

                    <!-- Conditionally show links if user is logged-in -->
                    <li class="nav-item">
                        <a class="nav-link" href="/chat/page" id="chatLink">Chat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/carinsert/selection" id="carInsertion">Insert</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/searchbar" id="search" style="display: none">Search</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/auction" id="auction" style="display: none">Auctions</a>
                    </li>
                </ul>
            </div>

        </div>



        <!-- User account and notification menu dropdown -->
        <div class="navbar-collapse justify-content-end" id="navbarNavDarkDropdown">

            <ul class="navbar-nav d-flex flex-row me-1">

                <!-- Notification dropdown menu -->
                <li id="notificationDropdown" class="nav-item me-3 me-lg-0 dropdown" style="display: block">
                    <a id ="bellLink" class="me-3 btn btn-dark rounded-4" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-bell"></i>
                        <span id="notificationBell" class="badge rounded-pill badge-notification bg-danger" style="display: compact"></span>
                    </a>

                    <ul id="NotificationList" class="dropdown-menu dropdown-menu-lg-end dropdown-menu-dark hidden-arrow animate slideIn">
                        <!-- Add dynamic content for notifications -->

                    </ul>
                </li>
            </ul>


            <ul class="navbar-nav">

                <li id="userDropDown" class="nav-item dropdown" style="display: block">
                    <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <span style="color: #ff9900;" id="usernameDisplay">User</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-lg-end dropdown-menu-dark animate slideIn">

                        <li><a class="dropdown-item" href="/userSettings">User settings</a></li>

                        <li><a class="dropdown-item" href="/login?loggedOut=true">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 mx-auto w-50">

            <h1 class="text-center mt-3 mb-3">Car Insertion </h1>

            <form id="myForm" onsubmit="event.preventDefault(); submitForm();" class="mt-2" enctype="multipart/form-data">

                <div class="scrollable-list">

                    <div class="group border rounded p-4 mb-3">
                        <div class="form-group mt-2">
                            <label class="control-label" for="plateNum">Plate Number:</label>
                            <input class="form-control" type="text" id="plateNum" name="plateNum" required autofocus="autofocus"/>
                        </div>

                        <div class="form-group mt-2">
                            <label class="control-label" for="brand">Brand:</label>
                            <input class="form-control" type="text" id="brand" name="brand" required autofocus="autofocus"/>
                        </div>

                        <div class="form-group mt-2">
                            <label class="control-label" for="model">Model:</label>
                            <input class="form-control" type="text" id="model" name="model" required autofocus="autofocus"/>
                        </div>

                        <div class="form-group mt-2">
                            <label class="control-label" for="year">Year:</label>
                            <input class="form-control" type="number" id="year" name="year" min="1886" max="2024" required autofocus="autofocus"/>
                        </div>

                        <div class="form-group mt-2">
                            <label class="control-label" for="pollutionLevel">Pollution Level:</label>
                            <select class="form-control" id="pollutionLevel" name="pollutionLevel" required autofocus="autofocus">
                                <option value="EURO2">EURO2</option>
                                <option value="EURO3">EURO3</option>
                                <option value="EURO4">EURO4</option>
                                <option value="EURO5">EURO5</option>
                                <option value="EURO6">EURO6</option>
                            </select>
                        </div>

                        <div class="form-group mt-2">
                            <label class="control-label" for="fuel">Fuel:</label>
                            <select class="form-control" id="fuel" name="fuel" required autofocus="autofocus">
                                <option value="Gas">Gas</option>
                                <option value="Methane">Methane</option>
                                <option value="Diesel">Diesel</option>
                                <option value="GPL">GPL</option>
                                <option value="Electric">Electric</option>
                            </select>
                        </div>

                        <div class="form-group mt-2">
                            <label class="control-label" for="passengers">Passenger:</label>
                            <input class="form-control" type="number" id="passengers" name="passengers" required min="1" autofocus="autofocus"/>
                        </div>

                        <div class="form-group mt-2">
                            <label class="control-label" for="carDoorNumber">Car Doors:</label>
                            <input class="form-control" type="number" id="carDoorNumber" name="carDoorNumber" required min="1" autofocus="autofocus"/>
                        </div>

                        <div class="form-group mt-2">
                            <label class="control-label" for="classification">Classification:</label>
                            <select class="form-control" id="classification" name="classification" required autofocus="autofocus">
                                <option value="CityCar">CityCar</option>
                                <option value="SubcompactExecutive">SubcompactExecutive</option>
                                <option value="CompactExecutive">CompactExecutive</option>
                                <option value="FullSize">FullSize</option>
                                <option value="FullSizeLuxury">FullSizeLuxury</option>
                            </select>
                        </div>

                        <div class="form-group mt-2">
                            <label class="control-label" for="transmission">Transmission:</label>
                            <select class="form-control" id="transmission" name="transmission" required autofocus="autofocus">
                                <option value="Manual">Manual</option>
                                <option value="Automatic">Automatic</option>
                            </select>
                        </div>

                        <div class="form-group mt-2">
                            <label class="control-label" for="engine">Engine:</label>
                            <select class="form-control" id="engine" name="engine" required autofocus="autofocus">
                                <option value="Electric">Electric</option>
                                <option value="Gas">Gas</option>
                                <option value="Diesel">Diesel</option>
                                <option value="Hybrid">Hybrid</option>
                            </select>
                        </div>

                        <div class="form-group mt-2">
                            <label class="control-label" for="image"> Add Car Image </label>
                            <input type="file" id="image" name="image" class="form-control" required autofocus="autofocus" placeholder="Enter your car image"/>
                        </div>
                    </div>

                </div>


                <div class="form-group mt-2">
                    <button type="submit" class="mt-3 btn btn-success form-control">NextPage</button>
                </div>

            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>

</body>
</html>